<div id="text-container">
  <h2>About Us</h2>
  <p>Most people enjoy grabbing food with friends. The most annoying part is deciding where to go. The lead-up to most evening plans is a constant back-and-forth of "I don't care... it's up to you" and "whatever you want - i don't mind". Everyone has preferences but can't or won't express them.</p>
  <p>Round Table helps eliminate this annoyance. It allows each member of your group to rank dining options, and uses an algorithm to select the option that works best for the most people in your group. It also utilizes the Yelp API to pull in reviews and information about each restaurant, so you can make an informed choice.</p>
  <p>Round Table was created by <a href="http://www.shawnwilkinson.io/">Shawn Wilkinson</a>, a Chicago-based web-developer</p>
  <a class="minor-link" href="/">Main Page</a>

</div>