<h3>About Us</h3>

<p>Most people enjoy grabbing food with friends. The most annoying part is deciding where to eat up. The lead-up to most evening plans include constant back-and-forths of "I don't care... it's up to you" and "whatever you want - i don't mind". Everyone has preferences but can't and won't express them.</p>

<p>Resto-Rank intends to get rid of all this annoyance. It allows each member of your group to rank dining options, and uses an algorithm to select the option that works best for the most people in your group. It also utilizes the Yelp API to pull in reviews and information about each restaurant, so you can make an informed ranking.</p>

<p>Resto Rank was created by <a href="www.shawnwilkinson.io">Shawn Wilkinson</a>, a Chicago-based web-developer</p>