<div id="text-container">
  <h1>Round Table</h1>
  <div class="left">
    <h4>What is Round Table?</h4>
    <p>Going out to dinner with friends is fun; coming to a consensus is not. Round Table helps your group come to an agreement without the annoying back-and-forth. </p>
    <a class="minor-link" href="/welcome/about">About Us</a>
  </div>
  <div class="right">
     <% if logged_in? %>
      <a class="button" href="/polls/new"><h3>Create Poll</h3></a>
      <a class="button" href="#"><h3>View Polls</h3></a>
    <% else %>
      <a class="main-link" href="#"><h3>Log In</h3></a>
      <a class="main-link" href="#"><h3>Sign Up</h3></a>
      <div id="log-in-box">
        <!-- ajaxed forms for entering user information for login / new user registration -->
      </div>
    <% end %>
    </div>

  </div>

</div>