// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$dark: #FF983B;
$light: #FFB03B;
$white: #FFFFFF;
$grey: #BAB2A6;


#index-container{
  background-color: $light;
  width: 500px;
  height:500px;
  margin:auto;
  padding:15px;
  color:$dark;
  text-shadow: 2px 2px $dark;

  .left{
    float:left;
    width:55%;
  }
  .right{
    float:right;
    width:40%;
  }
}

body{
  background-color: $white;
}


