<!DOCTYPE html>
<html>
<head>
  <title>RestoRank</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Carter+One|Roboto+Condensed' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
